*{
    margin:0;
  padding:0;
  box-sizing:border-box;
  }
  :root{
    --bg:#b4e4d7;
  --ss:1%;
  }
  body{
    background-color:var(--bg);
  }
  form{
    margin:var(--ss);
    padding:var(--ss);
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }